html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
/* ---------------------- */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 8vh;
  width: 100%;
  background: linear-gradient(to right, #6b66b8, #312560);
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}
.right-top {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
/* ---------------------- */
.a-top-head-language {
  padding: 10px;
  font-size: 23px;
  color: aliceblue;
  border-radius: 5px;
  font-family: "Scada", sans-serif;
  background-color: rgba(240, 248, 255, 0.189);
}
.a-top-head {
  color: aliceblue;
  font-family: "Scada", sans-serif;
}
a {
  text-decoration: none;
}
.a-top-bottom {
  font-family: "Scada", sans-serif;
}
/* ---------------------- */
img {
  width: 40vh;
}
/* ---------------------- */
.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.right-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.fa-sistrix {
  color: #312560;
  cursor: pointer;
}
/* ---------------------- */
h1 {
  color: aliceblue;
  font-family: "Scada", sans-serif;
}
.text-small {
  color: aliceblue;
  font-family: "Scada", sans-serif;
}
/* ---------------------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* ---------------------- */
.park-container {
  position: relative;
  display: inline-block;
}
.info {
  position: relative;
  display: inline-block;
  padding-bottom: 10vh;   
}
#park-img,
.park-img {
  height: auto !important;
  object-fit: cover !important;
  object-position: center;
  display: block;
  width: 100vw;
}
.overlay-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.455);
  border-radius: 30px;
  padding: 15px;
  border-radius: 5px;
}
/* ---------------------- */
.explanation-1,
.explanation-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;

  padding-bottom: 90px;
}
.text-info-1,
.text-info-2 {
  font-size: 2.5vh;
  width: 60vh;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.164);
  border-left: 5px solid #6b66b8;
}
/* ---------------------- */
.text-1,
.header-1,
.text-2,
.header-2,
.header-3,
.text-3 {
  color: #312560;
  font-family: "Scada", sans-serif;
}
.header-3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 70px;
}
/* ---------------------- */
.analyze {
  height: 50vh;
  width: 60vh;
}
.teledersler {
  height: 60vh;
  width: 70vh;
}
/* ---------------------- */
.text-3 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10vh;
  padding: 0 10px;
  max-width: 100vh;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 10vh;
}
.icon {
  height: 20vh;
  width: 20vh;
}
/* ---------------------- */
.choices-header {
  text-align: center;
  font-family: "Scada", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 70px;
  color: rgb(255, 255, 255);
  padding-bottom: 10vh;
  padding-top: 6vh;
}
.choices {
  background: linear-gradient(to right, #6b66b8, #312560);
  width: 100vw;
}
